body
{
    background-color: #efefef;
}

.vertical-bar
{
    width: 4px;
    height: var(--height);
    margin-left: 5px;
    float: left;
    border-radius: 3px;
    margin-top: var(--margin);
}
.vertical-bar:hover
{
    width: 5px;
    margin-left: 4px;
}

.green
{
    background-color: rgb(75, 192, 192);
}

.red
{
    background-color: rgb(255, 99, 132);
}

.bars-container
{
    height: 50px;
    width: auto;
}

.table td, .table th {
    border: 1px solid #dbdbdb;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: middle;
  }

#price-in-card
{
    font-size: 2em;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.corner-left
{
    position: absolute;
    left: 0;
}

.buttons-in-card
{
    padding: 23px;
    text-align: center;
}

#cardTradeListTotal
{
    background-image: linear-gradient(to right, rgba(255, 99, 132, 0.7) , rgba(75, 192, 192, 0.7));
}

.info-card
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    background-color: rgba(66, 66, 66, 0.3);
    padding: 15px;
    color: #373232;
    height: auto;
    font-weight: 500;
    font-size: 0.8em;
}

.follow-link
{
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
}